---
layout: default
---

<div class="hero">
  <header class="header">
    {% include logo.html %}
     {% include nav.html %}
    </header>

  <div class="section">
    {% include main-banner.html %}
  </div>
  <div class="banner-bottom">
    {% include main-banner-bottom.html %}
  </div>
</div>
<!-- //hero ends here -->
<!-- only text section start -->
<section class="bg-color-blue">
  <div class="bg-color-white width-95percent">
    {% include onlytext.html %}
  </div>
</section>
<!-- only text section end -->
 <!-- three cart section start -->
<section class="bg-color-white threecart-section">
  {% include three-cart.html %}
</section>
<!-- three cart section end -->

<!-- see all event section start -->
<section class="bg-color-white"> 
    {% include see-all-events.html %}
</section>

  
   
  
<footer class="footer">.footer</footer>
