<div class="maincart flex gap-2">
    <!-- firstcart -->
    <div class="cart ">
        <div class="cart-bg flex justify-center items-center relative">
         <img class="inside_cart_bg_img" src="/assets/images/herobg.jpg" alt="">
         <P  class="hidden">MORE ABOUT THIS EVENT</P>
        </div>
        <p class="absolute absolute_img_txt bg-color-pink">Today</p>
         <div class="cart-text">
             <h3 class="cart-text-h3">Kaleva 2030 Hackathon</h3>
             <div class="flex justify-left items-center gap-1">
                 <img class="inside_cart_date_img" src="/assets/images/calander.png" alt="">
                 <p>November 14, 2024 12:00 - November 16, 2024 16:00</p>
             </div>
             <p class="cart-text-p">Kaleva Media celebrates the 125th anniversary of the newspaper Kaleva by organizing a hackathon event for university and college students. Gather a team of 3-6 people, sign up and get ready to create something new. Winning team gets a grand prize of 5000€! Travel, accommodation and food are paid for. Enrollment through your own university.</p>
     
         </div>
     </div>
        <!-- secondcart -->
     <div class="cart ">
        <div class="cart-bg flex justify-center items-center relative">
         <img class="inside_cart_bg_img" src="/assets/images/herobg.jpg" alt="">
         <P  class="hidden">MORE ABOUT THIS EVENT</P>
        </div>
        <p class="absolute absolute_img_txt bg-color-orange">TOMORROW</p>
         <div class="cart-text">
             <h3 class="cart-text-h3">Slush Oulu Community Side Event & Pitching Competition 15.11.2024</h3>
             <div class="flex justify-left items-center gap-1">
                 <img class="inside_cart_date_img" src="/assets/images/calander.png" alt="">
                 <p>November 15, 2024 14:00 - November 15, 2024 18:00</p>
             </div>
             <p class="cart-text-p">Slush is the world’s leading startup event that takes place in Helsinki every year, bringing together top startups and world-class investors. This year’s…</p>
     
         </div>
     </div>
        <!-- thirdcart -->
     <div class="cart ">
        <div class="cart-bg flex justify-center items-center relative">
         <img class="inside_cart_bg_img" src="/assets/images/herobg.jpg" alt="">
         <P  class="hidden">MORE ABOUT THIS EVENT</P>
         
        </div>
        <p class="absolute absolute_img_txt bg-color-blue ">THIS WEEK</p>
         <div class="cart-text">
             <h3 class="cart-text-h3">Kickstart business idea competition finale</h3>
             <div class="flex justify-left items-center gap-1">
                 <img class="inside_cart_date_img" src="/assets/images/calander.png" alt="">
                 <p>November 27, 2024 12:00 - November 27, 2024 18:00</p>
             </div>
             <p class="cart-text-p">Kickstart business idea competition brings together the students of Oamk, University of Oulu and OSAO. Come and watch the competition finale where the teams compete for cash prizes of 1500€, 1000€ and 500€ by pitching their business idea!</p>
     
         </div>
     </div>
</div>

